mat-card {
  margin-bottom: 10px;
  background: #fff;
  padding: 20px;
}

mat-card-subtitle {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #aaa;
}

.mdc-button {
  margin-top: 20px;
  margin-right: 20px;
  max-width: 150px;
}
