mat-card {
  margin-bottom: 10px;
  background: #fff;
  padding: 20px;
}

mat-card-header {
  display: flex;
  flex-direction: column; /* Stack title and subtitle vertically */
}

.subtitle-wrap {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;

  .subtitle-divide {
    padding: 0px 10px;
  }
}

mat-card-subtitle {
  margin-top: 0px;
  display: inline-block;
  color: #999;
  font-size: 16px;
}

.mdc-button {
  margin-top: 20px;
  margin-right: 20px;
  max-width: 150px;
}
