header {
  background: #333333;
}

.sticky {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-radius: 0;
}

mat-card {
  padding: 20px;
  text-align: center;
}

mat-form-field {
  max-width: 500px;
  width: 100%;
  margin-right: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .search-input-wrap {
    flex: 1;
    max-width: 500px;
    width: 100%;
    margin-right: 8px;
    position: relative;
  }

  .mdc-button.search-btn {
    font-size: 24px;
    background: #00dddd;
    margin-top: -17px;

    .material-symbols-outlined {
      color: black;
      vertical-align: middle;
    }
  }
}

.error-wrap {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  .error-message {
    color: #000;
    font-size: 16px;
    background: coral;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}

.mat-mdc-card-title {
  font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin-bottom: 20px;
  font-weight: lighter;
  color: ghostwhite;
}

.radio-wrap {
  margin-top: 30px;

  .mat-mdc-radio-group {
    background: #222;
    border-radius: 20px;
    padding: 20px;

    .mat-mdc-radio-button {
      margin-right: 20px;
    }
  }
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.octicon path {
  fill: ghostwhite;
}

.mat-slider-wrap {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  label {
    margin-top: 21px;
    font-size: small;
  }

  mat-slider {
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
  }
}

.toggle-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 0;

  .section-header {
    display: flex;
    align-items: center;
    min-width: 150px;

    label {
      font-weight: lighter;
      font-size: 15px;
      color: #fff;
    }

    .mat-mdc-icon-button {
      background: #333;
      width: 36px;
      height: 36px;
      padding: 6px;
      margin-left: 8px;
    }
  }
}

.info-button {
  font-size: 16px;
  margin-top: 20px;
}

