
<app-search
  (searchResult)="onSearchResult($event)"
  (sliderValueChange)="onSliderValueChange($event)"
></app-search>

<mat-paginator
  [length]="totalResults"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 20, 30, 50]"
  (page)="onPageChange($event)"
  [disabled]="loading"
>
</mat-paginator>

<div class="container">

  <ng-template #noResults>
    <p class="no-results">Enter a search query in the above field to display results here.</p>
  </ng-template>

  <div *ngIf="results.length > 0; else noResults">
    <ng-container
      *ngComponentOutlet="
        getListComponent();
        inputs: listInputs
      "
    />
  </div>
</div>


